/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  h1{
    text-align: center;
  }
  .volver-btn{
    border-radius: 5px solid;
    margin: 2rem;
    text-decoration: none;
    background-color: #00ffdd;
    padding: 10px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .productForm{
    width: 60rem;
    transform: translateX(20%);
  }
  /* Estilos del formulario */
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos de la sección de productos */
  .product-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    width: calc(20% - 15px);
    margin-bottom: 20px;
    padding: 20px;
    margin: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description {
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 10px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .edit,
  .delete,
  .cancel {
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit {
    background-color: #ffa500; /* Naranja */
  }
  
  .delete {
    background-color: #ff0000; /* Rojo */
  }
  
  .cancel {
    background-color: #808080; /* Gris */
  }
  